.App {
  text-align: center;
}

.avatar {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.user-name {
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
}

.post-date {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 12px;
}

.upload-title {
  background-color: #EFF2F5;
  font-size: 16px;
  width: 460px;
  border: 0px;
  border-radius: 10px;
}

.upload-text {
  background-color: #EFF2F5;
  font-size: 16px;
  width: 460px;
  border: 0px;
  border-radius: 10px;
}

.upload-add-icon {
  height: 50px;
  width: 50px;
  margin-right: 230px;
}

.upload-add-icon-text {
  height: 50px;
  width: 50px;
  color: rgb(28, 28, 219);
}

.upload-img-preview {
  margin-top: 10px;
  width: 460px;
}

.txt:hover {
  text-decoration: underline;
  cursor: pointer;
}

.h-line-left {
  border-bottom: 1px solid #CDD0D4;
}

.v-line-left {
  border-left: 1px solid #CDD0D4;
}

.v-line-right {
  border-right: 1px solid #CDD0D4;
}

/* Hide scrollbar for Chrome, Safari and Opera */
div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
div {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


