.right-panel-profile-div {
    margin-top: 20px;
    border-bottom: 1px solid #edf1f3;
}

.profile-data {
    display: flex;
    padding-left: 20px;
}

.upload-div {
    display: flex;
}

.upload {
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.upload-icon {
    height: 35px;
    width: 35px;
}


/*------UserImageLayout------*/

.user-img-layout {
    margin-top: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.user-img {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
}



