 .auth-div {
     width: 800px;
     height: 550px;
     background-color: rgb(204, 225, 225);
     margin-top: 20px;
 }

 .user-data {
     margin-bottom: 20px;
 }

 .text-input {
     border-radius: 10px;
     width: 300px;
 }

 .auth-button {
     width: 300px;
     margin-top: 10px;
     border-radius: 10px;
 }

 .info-div {
     margin-top: 20px;
 }

 .login-header {
     padding-top: 50px;
     margin-bottom: 50px;
     font-size: 30px;
 }