.post-header {
    display: flex;
}

.post-avatar-padding {
    margin-left: 10px
}

.like-and-comment {
    display: flex;
    height: 35px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 60px;
}

.like-symbol {
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
} 

.comment-symbol {
    width: 30px;
    margin-left: 50px;
}

.post-image {
    width: 500px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

.like-and-comment-count {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 14px;
}

.post-description {
    margin-bottom: 20px;
}



/* Comment */

.comment-section {
    border-bottom: 1px solid #CDD0D4;
}

.all-comment {
    margin-left: 80px;
    border-bottom: 1px solid #CDD0D4;
}

.comment {
    display: flex;
}

.comment-date {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 12px;
}

.comment-text {
    width: 300px;
    margin-bottom: 20px;
}
