/* Post */

.post-div {
    border-bottom: 1px solid #e6ebee;
}

.post-header {
    display: flex;
}

.post-avatar-padding {
    margin-top: 10px;
    margin-left: 10px
}

.post-description {
    margin-left: 50px;
    margin-bottom: 20px;
}

.post-image-div {
    margin-left: 55px;
}

.post-image {
    width: 500px;
    border-radius: 10px;
}

.like-and-comment {
    display: flex;
    height: 35px;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-left: 70px;
}

.txt-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 10px;
}

.like-and-comment-count {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 14px;
}

.like-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 50px;
}

.more-menu-div {
    position: relative;
    top: 20px;
    height: 120px;
    width: 90px;
}

.more-menu-bg-color {
    background-color: white;
}

.more-btn {
    width: 20px;
    cursor: pointer;
}

.edit-delete-btn {
    margin-top: 10px;
    cursor: pointer;
}

.edit-delete-btn:hover {
    color: red;
}



/* PostDetail */

.back-btn-div {
    position: absolute;
    display: flex;
    height: 50px;
    width: 634px;
    background-color: white;
    opacity: 0.95;
}

.back-btn-icon {
    width: 50px;
}

.post-detail-avatar-tweak {
    margin-top: 70px;
    margin-left: 10px;
}

.user-name-tweak {
    margin-top: 75px;
}

.post-date-tweak {
    margin-top: 78px;
}

.comment-text-div {
    display: flex;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-text-box {
    height: 30px;
    width: 300px;
    border: 0px;
    background-color: #EFF2F5;
    border-radius: 30px;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 20px;
}



/* Comment, Chat */

.all-comment {
    margin-left: 80px;
    border-bottom: 1px solid #e6ebee;
    width: 80%;
}

.comment {
    display: flex;
}

.comment-date {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 12px;
}

.comment-text {
    width: 300px;
    margin-bottom: 20px;
}



/* EditOrDeletePostModal */

.edit-text {
    width: 265px;
}

.post-to-delete {
    margin-top: 10px;
    width: 265px;
}