.post-div {
    border-bottom: 1px solid #e6ebee;
}

.post-header {
    display: flex;
}

.post-avatar-padding {
    margin-left: 10px
}

.like-and-comment {
    display: flex;
    height: 35px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 60px;
}

.like-symbol {
    height: 30px;
    margin-left: 30px;
    cursor: pointer;
} 

.comment-symbol {
    width: 30px;
    margin-left: 20px;
}

.post-img-div {
    border-bottom: 1px solid #e6ebee;
} 

.post-image {
    width: 500px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

.like-and-comment-count {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 14px;
}

.post-description {
    margin-bottom: 20px;
}



/* Comment */

.all-comment {
    margin-left: 80px;
    border-bottom: 1px solid #e6ebee;
    width: 80%;
}

.comment {
    display: flex;
}

.comment-date {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 12px;
}

.comment-text {
    width: 300px;
    margin-bottom: 20px;
}



/* PostDetail */

.back-btn-div {
    display: flex;
    position: absolute;
    background-color: #f8f9fb;
    width: 634px;
    height: 50px;
}

.back-btn-icon {
    width: 70px;
    height: 40px;
}

.post-detail-avatar-tweak {
    margin-top: 70px;
    margin-left: 10px;
}

.user-name-tweak {
    margin-top: 75px;
}

.post-date-tweak {
    margin-top: 78px;
}

.post-description {
    margin-bottom: 10px;
}

.comment-text-div {
    display: flex;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-text-box {
    height: 30px;
    width: 300px;
    border: 0px;
    background-color: #EFF2F5;
    border-radius: 30px;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 20px;
}
