.header-logo {
  width: 80px;
  height: 50px;
}

.header-user-data {
  display: flex;
  margin-top: 5px;
  margin-left: 150px;
}

.avatar-tweak {
  width: 35px;
  height: 35px;
}

.header-profile-name {
  margin-top: 15px;
  margin-left: 5px;
}

.header-dropdown-menu {
  position: absolute;
  top: 45px;
  right: 50px;
  height: 300px;
  width: 200px;
  background-color: rgb(231, 231, 238);
}

.header-dropdown-menu-text {
  padding-top: 20px;
  margin-right: 40px;
  cursor: pointer;
}

.header-dropdown-menu-text:hover {
  color: red;
}

.edit-btn {
  margin-left: 10px;
}

.text-input-div{
  display: flex;
  padding-left: 20px;
}

.text-input {
  width: 200px;
  margin-left: 20px;
  margin-bottom: 5px;
}