.mainpage-container{
    background-color: white;
}

.left-panel{
    overflow-y: scroll;
    height: 1000px;
}

.middle-panel{
    overflow-y: scroll;
    height: 1000px;
}

.right-panel{
    overflow-y: scroll;
    height: 1000px;
}